streamlit
google-generativeai
langchain-google-genai
langchain
python-dotenv
streamlit-option-menu
langchain-community
pypdf
unstructured
openpyxl
python-docx
pandas
regex
sentence-transformers
faiss-gpu