streamlit
google-generativeai
langchain-google-genai
python-dotenv
streamlit-option-menu
langchain-community
langchain
langchain-core
pypdf
unstructured 
openpyxl 
python-docx 
faiss-cpu 
sentence-transformers